# Compiled output
/build

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_STORE
\.vscode/
*.sqlite
dist
darwin-pybuild
win-pybuild
node_modules
app
run.spec

yarn-error\.log

\.idea/
